/* ==========================================================================
    BREAKPOINTS
=========================================================================== */

/// VARIABLES ///

$break-large: 1200px !default;
$break-medium: 992px !default;
$break-small: 768px !default;
$break-xsmall: $break-small - 1px !default;

/// BREAKPOINTS ///

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  
  @if $type == string {
    @if $min == xsmall { 
      @media (max-width: $break-xsmall) { @content; }       // Mobile Devices
    }
    
    @else if $min == small {
      @media (min-width: $break-small) { @content; }       // Tablet Devices
    }
    
    @else if $min == medium {
      @media (min-width: $break-medium) { @content; }       // Desktops
    }
    
    @else if $min == large {
      @media (min-width: $break-large) { @content; }      // Widescreen Desktops
    }
  
    // Otherwise pass a warning to the compiler as to the appropriate options
    @else {
      @warn "The breakpoint mixin supports the following attributes: xsmall, small, medium, large";
    }
  }
  @else if $type == number {
    // Allow for custom parameters for min and max size
    $query: "all" !default;
    @if      $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; } // set both min and max
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; } // set just min
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; } // set just max
    @media #{$query} { @content; }
  }
}