/* ==========================================================================
	DEFAULTS
=========================================================================== */


h1, h2, h3, h4, h5, h6 {
	color:$heading-color;
	&:first-child { 
		margin-top:0;
	}
}

h1 {
	font-weight:normal;
	font-size:em(28px);
}

h2 {
	font-size:em(16px);
	text-transform:uppercase;
}

h3 {
	font-size:em(16px);
}

h4, h5, h6 {
	font-size:em(14px);
}

p, ul, ol, blockquote {
	margin:0 0 20px 0;
}

ul ul, ol ol {
	//margin:0
}

a {
	color:$link-color;
}

a:hover {
	color:$hover-color;
}

table {
	width:100%;
	border-collapse: collapse;
	margin-bottom:20px;
	border:solid $border-color;
	border-width:1px 0 0 0;
}

th {
	border:solid $border-color;
	border-width:0 0 1px;
	font-size:em(14px);
	font-weight:normal;
	text-transform:uppercase;
	color:$tertiary-text-color;
	text-align:left;
	padding:5px;
	vertical-align:top;
}

td {
	color:$secondary-text-color;
	padding:5px;
	border:solid $border-color;
	border-width:0 0 1px;
	vertical-align:top;
}

