/* ==========================================================================
	FALLBACKS
=========================================================================== */

.no-flexbox.no-flexboxlegacy.no-flexboxtweener {
	.main-nav > ul {
		display:table;
		width:100%;
	}

	.main-nav > ul > li {
		display:table-cell;
		vertical-align:middle;
	}

	.main-nav > ul > li > a {
		display:inline-block;
	}
}