/* ==========================================================================
	Forms
=========================================================================== */

/// VARIABLES ///
$form-input-height: 40px !default;
$form-border-color: #d3d8dc !default;
$form-text-color: #294256 !default;
$form-secondary-text-color: #94a1ab !default;
$form-primary-button-color: !default;
$form-secondary-button-color: !default;
$form-input-margin-bottom: 20px !default;
////////////////

label {
	//color:$secondary-text-color;
	color:$form-text-color;
	display:block;
	margin-bottom:4px;
}

label .required {
	color:$primary-red;
}

::-webkit-input-placeholder {
	color:$form-secondary-text-color;
}

::-moz-placeholder {
	color:$form-secondary-text-color;
}

:-ms-input-placeholder {
	color:$form-secondary-text-color;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display:inline-block;
	margin-bottom:$form-input-margin-bottom;
	vertical-align:middle;
	padding-left:5px;
	color:$secondary-text-color;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"] {
	font-family:$default-font;
	border:1px solid $form-border-color;
	height:40px;
	color:$form-text-color;
	-webkit-appearance: none; 
	display:block; 
	height: $form-input-height; 
	width: 100%;
	border-radius:0;
	margin-bottom:$form-input-margin-bottom;
	padding-left:10px;
	padding-right:10px;
}

input[type="checkbox"],
input[type="radio"] {
	border:1px solid $form-border-color;
	margin-bottom:$form-input-margin-bottom;
	vertical-align:middle;
}

textarea {
	font-family:$default-font;
	border:1px solid $form-border-color;
	color:$form-text-color;
	-webkit-appearance: none; 
	display:block; 
	width: 100%;
	border-radius:0;
	margin-bottom:$form-input-margin-bottom;
	padding:10px;
	line-height:1.5;
}

select {
	font-family:$default-font;
	width:100%;
	height:$form-input-height;
	-webkit-appearance: none;
	border-radius:0;
	background:#fff;
	border:1px solid $form-border-color;
	padding-left:10px;
	padding-right:24px;
	color:$form-text-color;
	margin-bottom:$form-input-margin-bottom;
}

.select {
	position:relative;
	margin-bottom:$form-input-margin-bottom;
}

.select .icon-select {
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:8px;
	color:$form-secondary-text-color;
}

.select select {
	margin-bottom:0;
}

.search-input {
	position:relative;
	margin-bottom:$form-input-margin-bottom;
}

.search-input .icon-search {
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:8px;
	color:$form-secondary-text-color;
}

.search-input .icon-cancel {
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:8px;
	color:$form-secondary-text-color;
	cursor:pointer;
	&:hover {
		color:$primary-red;
	}
}

.search-input input[type="search"] {
	padding-left:32px;
	margin-bottom:0;
}

button, input[type="submit"] {
	-webkit-appearance: none;
	border-radius:3px;
	border:none;
	height:$form-input-height;
	cursor:pointer;
	outline:none;
}

.file-input {
	margin-bottom:$form-input-margin-bottom;
}

.file-input input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	margin:0;
	z-index: -1;
}

.file-input label {
	@extend .btn-secondary;
}

.file-input label * {
	pointer-events: none;
}

.file-input.has-value label {
	display:none;
}

.file-input-value {
	display:none;
}

.file-input.has-value .file-input-value {
	display:block;
}

.file-input-image {
	position:relative;
	display:inline-block;
}

.file-input-remove {
	position:absolute;
	top:4px;
	right:4px;
	padding:4px;
	background-color:$primary-color;
	color:#fff;
	border-radius:50%;
	font-size:em(12px);
	cursor:pointer;
	min-width:20px;
	min-height:20px
}

.file-input-remove:hover {
	background-color:$primary-red;
}

.checkbox-group,
.radio-group,
.checkbox-group-inline,
.radio-group-inline {
	@extend .list-reset;
	margin:10px 0;
}

.checkbox-group-inline li,
.radio-group-inline li {
	display:inline-block;
	margin-right:15px;
}

.checkbox-group,
.radio-group,
.checkbox-group-inline,
.radio-group-inline {
	input[type="checkbox"],
	input[type="checkbox"] + label,
	input[type="radio"],
	input[type="radio"] + label {
		margin-bottom:10px;
	}
}

.form-error {
	font-size:em(14px);
	color:$primary-red;
	margin-top:-$form-input-margin-bottom;
	margin-bottom:$form-input-margin-bottom;
}

input.error, 
select.error,
textarea.error {
	border-color:$primary-red;
}

.repeatable-fieldset {
	margin-bottom:20px;
}

.repeatable-fieldset table {
	border-width:1px 0 0 1px;
	margin-bottom:10px;
}

.repeatable-fieldset th, 
.repeatable-fieldset td {
	border-width:0 1px 1px 0;
	padding:10px;
}

.repeatable-fieldset th {
	color:$form-text-color;
	//font-size:inherit;
	background-color:$primary-bg-color;
}

.repeatable-fieldset table td > * {
	margin-bottom:0;
}

.repeatable-fieldset .rf-actions {
	width:1px;
	vertical-align:middle;
	text-align:center;
}

.repeatable-fieldset .input-desc {
	text-transform:none;
	font-size:inherit;
	margin:0;
} 

.repeatable-fieldset input[type="checkbox"],
.repeatable-fieldset input[type="checkbox"] + label {
	margin-top:8px;
	margin-bottom:8px;
} 

.input-desc {
	color:$secondary-text-color;
	font-style:italic;
	display:block;
	font-size:em(14px);
	margin-bottom:4px;
	margin-top:-4px;
	position:relative;
}

