/* ==========================================================================
	Forms
=========================================================================== */

/// VARIABLES ///
$form-input-height: 40px !default;
$form-border-color: #d3d8dc !default;
$form-text-color: #294256 !default;
$form-secondary-text-color: #94a1ab !default;
$form-primary-button-color: !default;
$form-secondary-button-color: !default;
$form-input-margin-bottom: 20px !default;
$switch-small-height: 30px !default;
////////////////

form {
  margin-bottom: 10px;
}

label {
	color:$form-text-color;
	display:block;
	margin-bottom:4px;
}

label .required {
	color:$primary-red;
}

::-webkit-input-placeholder {
	color:$form-secondary-text-color;
}

::-moz-placeholder {
	color:$form-secondary-text-color;
}

:-ms-input-placeholder {
	color:$form-secondary-text-color;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
.switch + label {
	display:inline-block;
	margin-bottom:$form-input-margin-bottom;
	vertical-align:middle;
	padding-left:5px;
	color:$form-text-color;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"] {
	font-family:$default-font;
	border:1px solid $form-border-color;
	height:40px;
	color:$form-text-color;
	-webkit-appearance: none;
	height: $form-input-height;
	width: 100%;
	border-radius:0;
	margin-bottom:$form-input-margin-bottom;
	padding-left:10px;
	padding-right:10px;
}

input[type="checkbox"],
input[type="radio"] {
	border:1px solid $form-border-color;
	margin-bottom:$form-input-margin-bottom;
	vertical-align:middle;
}

textarea {
	font-family:$default-font;
	border:1px solid $form-border-color;
	color:$form-text-color;
	-webkit-appearance: none;
	width: 100%;
	border-radius:0;
	margin-bottom:$form-input-margin-bottom;
	padding:10px;
	line-height:1.5;
}

select {
	font-family:$default-font;
	width:100%;
	height:$form-input-height;
	-webkit-appearance: none;
	border-radius:0;
	background:#fff;
	border:1px solid $form-border-color;
	padding-left:10px;
	padding-right:24px;
	color:$form-text-color;
	margin-bottom:$form-input-margin-bottom;
}

.select {
	position:relative;
	margin-bottom:$form-input-margin-bottom;
}

.select .icon-select {
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:8px;
	color:$form-secondary-text-color;
}

.select select {
	margin-bottom:0;
}

.search-input {
	position:relative;
	margin-bottom:$form-input-margin-bottom;
}

.search-input .icon-search {
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:8px;
	color:$form-secondary-text-color;
}

.search-input .icon-cancel {
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:8px;
	color:$form-secondary-text-color;
	cursor:pointer;
	&:hover {
		color:$primary-red;
	}
}

.search-input input[type="search"] {
	padding-left:32px;
	margin-bottom:0;
}

button, input[type="submit"] {
	-webkit-appearance: none;
	border-radius:3px;
	border:none;
	height:$form-input-height;
	cursor:pointer;
	outline:none;
}

.file-input {
	margin-bottom:$form-input-margin-bottom;
}

.file-input input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	margin:0;
	z-index: -1;
}

.file-input label {
	@extend .btn-secondary;
}

.file-input label * {
	pointer-events: none;
}

.file-input.has-value label {
	display:none;
}

.file-input-value {
	display:none;
}

.file-input.has-value .file-input-value {
	display:block;
}

.file-input-image {
	position:relative;
	display:inline-block;
}

.file-input-remove {
	position:absolute;
	top:4px;
	right:4px;
	padding:4px;
	background-color:$primary-color;
	color:#fff;
	border-radius:50%;
	font-size:em(12px);
	cursor:pointer;
	min-width:20px;
	min-height:20px
}

.file-input-remove:hover {
	background-color:$primary-red;
}

.checkbox-align-input input,
.checkbox-align-input label {
	padding-top:8px;
	padding-bottom:8px;
}

.checkbox-group,
.radio-group,
.checkbox-group-inline,
.radio-group-inline {
	@extend .list-reset;
	margin:10px 0;
}

.checkbox-group-inline li,
.radio-group-inline li {
	display:inline-block;
	margin-right:15px;
}

.checkbox-group,
.radio-group,
.checkbox-group-inline,
.radio-group-inline {
	input[type="checkbox"],
	input[type="checkbox"] + label,
	input[type="radio"],
	input[type="radio"] + label {
		margin-bottom:10px;
	}
}

.checkbox-group input[type="checkbox"] + label,
.radio-group input[type="radio"] + label,
.checkbox-group-inline input[type="checkbox"] + label,
.radio-group-inline input[type="radio"] + label {
	color:$secondary-text-color;
}

.form-error {
	@extend .list-reset;
	font-size:em(14px);
	color:$primary-red;
	margin-top:-$form-input-margin-bottom;
	margin-bottom:$form-input-margin-bottom;
}

input.error,
select.error,
textarea.error {
	border-color:$primary-red;
}

.repeatable-fieldset {
	margin-bottom:20px;
}

.repeatable-fieldset table {
	border-width:1px 0 0 1px;
	margin-bottom:10px;
}

.repeatable-fieldset th,
.repeatable-fieldset td {
	border-width:0 1px 1px 0;
	padding:10px;
}

.repeatable-fieldset th {
	color:$form-text-color;
	//font-size:inherit;
	background-color:$primary-bg-color;
}

.repeatable-fieldset table td > * {
	margin-bottom:0;
}

.repeatable-fieldset .rf-actions {
	width:1px;
	vertical-align:middle;
	text-align:center;
}

.repeatable-fieldset .input-desc {
	text-transform:none;
	font-size:inherit;
	margin:0;
}

.repeatable-fieldset input[type="checkbox"],
.repeatable-fieldset input[type="checkbox"] + label,
.repeatable-fieldset input[type="radio"],
.repeatable-fieldset input[type="radio"] + label {
	margin-top:8px;
	margin-bottom:8px;
}

.repeatable-fieldset .radio-group-inline,
.repeatable-fieldset .cehckbox-group-inline {
	margin-top:0;
}

.fieldset {
	border:1px solid $border-color;
	margin-bottom:20px;
}

.fieldset-header {
	background-color:$primary-bg-color;
	padding:10px;
	position:relative;
}

.fieldset.draggable .fieldset-header {
	cursor:move;
}

.fieldset-heading {
	text-transform:uppercase;
	font-size:em(14px);
	padding:4px 0;
}

.fieldset-header-actions {
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-8px;
	line-height:1px;
}

.fieldset-header-actions .icon {
	margin-left:10px;
	color:$tertiary-text-color;
	cursor:pointer;
	display:inline-block;
	&:hover {
		color:$secondary-color;
	}
}

.fieldset-header-actions .icon-delete:hover {
	color:$primary-red;
}

.fieldset-header-actions .icon-box-down {
	position:relative;
	transition:transform 0.15s ease;
}

.fieldset.is-closed .fieldset-header-actions .icon-box-down {
	transform:rotate(180deg);
}

.fieldset-fields {
	padding:20px 20px 10px;
	border-top:1px solid $border-color;
}

.fieldset.is-closed .fieldset-fields {
	display:none;
}

.input-desc {
	color:$secondary-text-color;
	font-style:italic;
	display:block;
	font-size:em(14px);
	margin-bottom:4px;
	margin-top:-4px;
	position:relative;
}

.editor {
	margin-bottom:$form-input-margin-bottom;
}

.link-inputs .link-type {
	display:none;
}

.link-inputs .link-type.is-active {
	display:block;
}

.add-media {
	margin-bottom:20px;
}

.sortable-field {
	display:flex;
	flex-wrap:nowrap;
	width:100%;
}

.sortable-field-input {
	flex:1 1 100%;
}

.sortable-field-drag,
.sortable-field-delete {
	width:25px;
	height:$form-input-height;
	line-height:$form-input-height;
	color:$form-text-color;
	color:$form-secondary-text-color;
}

.sortable-field-drag:hover {
	color:$form-text-color;
}

.sortable-field-delete {
	text-align:right;
	cursor:pointer;
}

.sortable-field-delete:hover {
	color:$primary-red;
}

.add-row {
	margin-bottom:$form-input-margin-bottom;
}

.switch {
	position:relative;
	margin-bottom:$form-input-margin-bottom;
	display:inline-block;
	vertical-align:middle;
}

.switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 1px;
  width: $form-input-height * 2;
  height: $form-input-height;
  background-color: #fff;
  border:1px solid $form-border-color;
  border-radius: $form-input-height;
  transition: background 0.4s;
  margin:0;
}

.switch input + label:after {
  display: block;
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: $form-input-height - 8px;
  background-color: $form-border-color;
  border-radius: $form-input-height - 8px;
  transition: margin 0.4s, background 0.4s;
}

.switch input:checked + label {
  border-color: $primary-green;
  background-color: $primary-green;
}

.switch input:checked + label:after {
  margin-left: $form-input-height;
  background-color: #fff;
}

.switch-small input + label {
  width: $switch-small-height * 2;
  height: $switch-small-height;
  border-radius: $switch-small-height;
}

.switch-small input + label:after {
  width: $switch-small-height - 8px;
  border-radius: $switch-small-height - 8px;
}

.switch-small input:checked + label:after {
  margin-left: $switch-small-height;
  background-color: #fff;
}

.form-swap-active .form-swap-value {
	display:none;
}

.form-swap-active .form-swap-input {
	display:block;
}

.form-swap-input {
	display:none;
}

table input[type="text"],
table input[type="search"],
table input[type="email"],
table input[type="password"],
table input[type="date"],
table input[type="datetime-local"],
table input[type="time"], 
table .select, 
table .switch {
	margin-bottom:0;
}
