/* ==========================================================================
	HAMBURGER MENU
=========================================================================== */

///------------------------------------------------------------------------
///		VARIABLES
///------------------------------------------------------------------------
$hamburger-width: 50px !default;
$hamburger-height: $hamburger-width  !default;
$hamburger-thickness: 2px !default; //thickness of button bars
$hamburger-pad: 10px !default; // left/right padding between button area and bars
$hamburger-bar-space: ($hamburger-width - ($hamburger-pad * 2) - ($hamburger-thickness * 3)) / 3 !default; //spacing between bars
$hamburger-transition-duration: 0.1s !default;
$hamburger-color: transparent !default;
$hamburger-open-color: transparent !default;
$hamburger-bar-color: #fff !default;

///------------------------------------------------------------------------
///		GLOBALS
///------------------------------------------------------------------------
.main-nav-trigger {
	display:none;
}

@include breakpoint(xsmall) {
	.main-nav-trigger {
		display:block;
		position:absolute;
		top:50%;
		right:0;
		overflow: hidden;
		margin: -($hamburger-width/2) 0 0;
		padding: 0;
		width: $hamburger-width;
		height: $hamburger-height;
		font-size: 0;
		text-indent: -999px;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background $hamburger-transition-duration;
		background-color: $hamburger-color;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

	}

	.main-nav-trigger:hover {
		background-color: $hamburger-color;
	}

	.main-nav-trigger:focus {
		outline: none;
	}

	.main-nav-trigger span {
		display: block;
		position: absolute;
		top: ($hamburger-height / 2) - ($hamburger-thickness / 2);
		left: $hamburger-pad;
		right: $hamburger-pad;
		height: $hamburger-thickness;
		background: $hamburger-bar-color;
		transition: background 0s $hamburger-transition-duration;
	}

	.main-nav-trigger span::before,
	.main-nav-trigger span::after {
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: $hamburger-thickness;
		background-color: $hamburger-bar-color;
		content: "";
		transition-duration: $hamburger-transition-duration, $hamburger-transition-duration;
		transition-delay: $hamburger-transition-duration, 0s;
	}

	.main-nav-trigger span::before {
		top: -$hamburger-thickness - $hamburger-bar-space;
		/* autoprefixer: off */
		-webkit-transition-property: top, -webkit-transform;
		transition-property: top, transform;
		/* autoprefixer: on */
		transition-property: top, transform;
	}

	.main-nav-trigger span::after {
		bottom: -$hamburger-thickness - $hamburger-bar-space;
		/* autoprefixer: off */
		-webkit-transition-property: bottom, -webkit-transform;
		transition-property: bottom, transform;
		/* autoprefixer: on */
		transition-property: bottom, transform;
	}



	///------------------------------------------------------------------------
	///		OPEN STATE
	///------------------------------------------------------------------------
	.main-nav-trigger.is-open {
		background-color: $hamburger-open-color;
	}

	.main-nav-trigger.is-open span {
		background: none;
	}

	.main-nav-trigger.is-open span::before {
		top: 0;
		transform: rotate(45deg);
	}

	.main-nav-trigger.is-open span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	.main-nav-trigger.is-open span::before,
	.main-nav-trigger.is-open span::after {
		transition-delay: 0s, $hamburger-transition-duration;
	}
}