/* ==========================================================================
	HEADER
=========================================================================== */

/// VARIABLES ///

$header-height: 60px !default;
$header-icon-container-height: 32px !default;
$header-profile-container-height: 40px !default;

////////////////

.header {
 	background-color: $primary-color;
 	color:#fff;
 	display:flex;
 	align-items:center;
 	flex-wrap:nowrap;
 	flex:0 0 $header-height;
 	z-index:90;
}

.header a {
	color:inherit;
 	text-decoration:none;
}

.header ul {
	@extend .list-reset;
}

.header-logo {
	flex:0 0 auto;
	padding:0 20px;
	font-weight:bold;
}

.header-nav-container {
	flex:2 1 auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

///----------------------------
/// Header Nav
///----------------------------

.header-nav {
	display:flex;
}

.header-nav a {
	display:block;
}

.header-nav ul {
	display:none;
	position:absolute;
	top:auto;
	left:auto;
	background:$primary-color-hover;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.header-nav li:hover > ul {
	display:block;
}

.header-nav > li > a {
	height:$header-height;
}

.header-nav > li:hover > a,
.header-nav a.is-active {
	color:#fff;
	background-color:$primary-color-hover;
}

.header-nav ul a {
	padding-top:13px;
	padding-bottom:13px;
	border-top:1px solid rgba(#fff, 0.1);
}

.header-nav ul a:hover {
	background-color:$secondary-color;
}

///----------------------------
/// Header Nav Primary
///----------------------------

.header-nav-primary a {
	padding-right:20px;
	padding-left:20px;
}

.header-nav-primary > li > a {
	line-height:$header-height;
	color:rgba(#fff, 0.75);
}

///----------------------------
/// Header Nav Secondary
///----------------------------

.header-nav-secondary > li {
	position:relative;
}

.header-nav-secondary ul {
	min-width:120px;
	right:0;
	text-align:right;
}

.header-nav-secondary a {
	padding-left:10px;
	padding-right:10px;
}

.header-notifications {
	width:$header-icon-container-height;
	height:$header-icon-container-height;
	line-height:$header-icon-container-height;
	text-align:center;
	border-radius:50%;
	background-color:rgba(#fff, 0.1);
	display:block;
	position:relative;
	top:($header-height - $header-icon-container-height) / 2;
}

.header-profile {
	width:$header-profile-container-height;
	height:$header-profile-container-height;
	border-radius:50%;
	background-color:rgba(#fff, 0.1);
	display:block;
	position:relative;
	top:($header-height - $header-profile-container-height) / 2;
	overflow:hidden;
}

.header-search {
	padding-right:10px;
	padding-left:10px;
	display:block;
	position:relative;
	top:($header-height - $header-icon-container-height) / 2;
	margin:0;
}

.header-search .search-input {
	margin-bottom:0;
}

.header-search .search-input input[type="search"] {
	height:$header-icon-container-height;
	width:$header-icon-container-height;
	border:none;
	background:rgba(#fff, 0.1);
	outline:none;
	border-radius:$header-icon-container-height/2;
	transition:all 0.15s ease;
	color:#fff;
	padding-left:0;
}

.header-search:hover .search-input input[type="search"] {
	background-color:$primary-color-hover;
}

.header-search .search-input input[type="search"]:focus {
	width:220px;
	padding-left:32px;
}

.alert-count {
	height:16px;
	line-height:15px;
	background-color:$secondary-color;
	color:#fff;
	font-size:em(12px);
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
	border-radius:8px;
	position:absolute;
	top:-6px;
	right:-6px;
}