/* ==========================================================================
    MAIN
=========================================================================== */

/// VARIABLES ///


////////////////
.site {
	display:flex;
	min-height:100vh;
	flex-direction:column;
	min-width:768px;
	overflow:hidden;
}

.site-logout {
	display:flex;
	min-height:100vh;
	flex-direction:column;
	overflow:hidden;
	background-color:$primary-bg-color;
	align-items:center;
	align-content:center;
	justify-content:center;
	width:100%;
}

.content-container {
	display:flex;
	align-items:stretch;
	position:relative;
	flex: 1 1 100%;
}

.main-container {
	display:flex;
	flex-direction:column;
	width:100%;
}

.main {
	flex:1 1 100%;
	padding:20px;
}

.page-header {
	border-bottom:1px solid $border-color;
	margin-bottom:20px;
}

.page-header.no-border {
	border:none;
}

.page-title {
	margin-bottom:10px;
}

.breadcrumbs {
	font-size:em(14px);
	color: $tertiary-text-color;
	margin-bottom:5px;
}

.breadcrumbs ul {
	@extend .list-reset;
}

.breadcrumbs li {
	display:inline-block;
}

.breadcrumbs li + li:before {
	content:"/";
	display:inline-block;
	margin-right:4px;
	font-size:em(13px, 14px);
}

.breadcrumbs a {
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}

.table-row-actions {
	font-size:em(14px);
	color:$tertiary-text-color;
	white-space: nowrap;
}

.table-row-actions a {
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}

.table-user-avatar,
.table-user-avatar:hover {
	display:block;
	width:32px;
	height:32px;
	float:left;
	background-color:$primary-neutral-color;
	border-radius:50%;
	margin-right:10px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	margin-top:4px;
	overflow:hidden;
	font-size:16px;
}

.table-user-avatar .icon {
	margin-top:7px;
	display:inline-block;
}

.table-sort {
	position:relative;
	padding-right:15px;
	cursor:pointer;
}

.table-sort.is-active,
.table-sort:hover {
	color:$secondary-text-color;
}

.arrow-down {
	content:"";
	width:0;
	height:0;
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 5px solid $primary-neutral-color;
  	position:absolute;
  	top:50%;
  	right:0;
  	margin-top:-2px;
  	transition:transform 0.15s ease;
}

.table-sort.is-active .arrow-down {
	border-top-color:$secondary-color;
}

.table-sort.is-reverse .arrow-down {
	transform:rotate(180deg);
}

.table-actions {
	margin-bottom:0px;
}

.table-filters-trigger {
	text-decoration:none;
	line-height:40px;
	position:relative;
}

.table-filters-trigger.is-active:after {
	content:"";
	width:0;
	height:0;
	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid $primary-bg-color;
  	position:absolute;
  	bottom:-19px;
  	left:50%;
  	margin-left:-10px;
}

.table-filters {
	background:$primary-bg-color;
	padding:20px;
	display:none;
	margin-bottom:20px;
	margin-top:-10px;
}

.table-filters.is-active {
	display:block;
}

.table-filters-clear {
	margin-left:20px;
	color:$primary-neutral-color;
	text-decoration:none;
}

.table-filters-clear:hover {
	text-decoration:underline;
	color:$primary-text-color;
}

.table-column-search {
	position:absolute;
	top:50%;
	left:0;
	margin-top:-20px;
	width:100%;
	display:none;
}

.table-column-search.is-active {
	display:block;
}

.table-column-search .icon-search {
	margin-top:-7px;
	left:10px;
}

.table-column-search .icon-cancel {
	margin-top:-7px;
}

.page-tabs {
	@extend .clearfix;
	padding:10px 10px 0;
	border:solid $border-color;
	border-width:1px 0;
	background:$primary-bg-color;
	margin-bottom:20px;
}

.page-tab {
	display:block;
	float:left;
	color:$secondary-text-color;
	text-decoration:none;
	border:solid transparent;
	border-width:1px 1px 0;
	margin-bottom:-1px;
	padding:10px 20px 16px;
}

.page-tab.is-active {
	background:#fff;
	border-color:$border-color;
}

.tab-section {
	display:none;
}

.tab-section.is-active {
	display:block;
}

.nav-option-list {
	@extend .list-reset;
	margin-bottom:30px;
}

.nav-option-item {
	background:$primary-bg-color;
	border:1px solid $border-color;
	margin-bottom:4px;
	border-radius:3px;
	padding:7px 36px 7px 10px;
	position:relative;
	cursor:move;
}

.nav-option-item-actions {
	line-height:1;
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-8px;
}

.nav-option-item-actions .icon {
	color:$tertiary-text-color;
	cursor:pointer;
	position:relative;
	margin-left:10px;
	&:hover {
		color:$secondary-color;
	}
}

.nav-option-item-actions .icon-delete:hover {
	color:$primary-red;
}

.nav-options-header {
	@extend .clearfix;
}

.nav-options-title {
	float:left;
}

.nav-options-trigger {
	float:right;
}

.nav-options-search {
	margin-bottom:4px;
}

.nav-options-search .search-input {
	margin-bottom:0;
}

.nav-options-form {
	display:none;
}

.nav-options-form.is-active {
	display:block;
}

.nav-options-form input {
	margin-bottom:10px;
}

.nav-list, 
.nav-list ul {
	@extend .list-reset;
}

.nav-list {
	margin-bottom:20px;
}

.nav-list ul {
	margin-left:20px;
}

.nav-list li.hide-children ul {
	display:none;
}

.nav-item {
	background:$primary-bg-color;
	border:1px solid $border-color;
	margin-bottom:10px;
	border-radius:3px;
	overflow:hidden;
}

.nav-item-header {
	@extend .clearfix;
	padding:12px 70px 12px 20px;
	position:relative;
	cursor:move;
}

.nav-item.is-active .nav-item-header {
	background-color:$primary-color;
	color:#fff;
}

.nav-item-actions {
	position:absolute;
	top:50%;
	right:20px;
	margin-top:-8px;
	line-height:1px;
}

.nav-item-actions .icon {
	margin-left:10px;
	color:$tertiary-text-color;
	cursor:pointer;
	display:inline-block;
	&:hover {
		color:$secondary-color;
	}
}

.nav-item-actions .icon-box-down {
	position:relative;
	transition:transform 0.15s ease;
}

.nav-list li.hide-children .nav-item-actions .icon-box-down {
	transform:rotate(180deg);
}

.nav-item.is-active .nav-item-actions .icon {
	color:rgba(#fff, 0.7);
}

.nav-item-form {
	display:none;
	padding:20px;
}

.nav-item.is-active .nav-item-form {
	display:block;
}

.nav-item-form-actions {
	@extend .clearfix;
}

.nav-item-form-actions a {
	margin-left:20px;
	position:relative;
	top:5px;
}

.nav-list-empty {
	border:2px dashed $border-color;
	padding:20px;
	color:$tertiary-text-color;
	text-align:center;
}

.upload-drop {
	border:3px dashed $border-color;
	padding:40px 20px;
	color:$tertiary-text-color;
	text-align:center;
	background:$primary-bg-color;
}

.media-cards {
	border-top:1px solid $border-color;
	padding-top:20px;
	margin-bottom:20px;
	display:flex;
	flex-wrap:wrap;
	align-items: stretch;
	justify-content:space-between;
}

.media-card {
	flex:0 1 49%;
	background-color:$primary-bg-color;
	border-radius:3px;
	padding:10px;
	margin-bottom:20px;
	@include breakpoint(medium) {
		flex:0 1 32%;
	}
	@include breakpoint(large) {
		flex:0 1 24%;
	}
}

.media-card-thumb {
	display:block;
	overflow:hidden;
	padding-top:66%;
	text-decoration:none;
	position:relative;
	margin-bottom:10px;
}

.media-card-thumb .thumb-container {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:block;
	overflow:hidden;
}

.media-card-thumb .thumb-center{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform:translate(50%,50%);
}

.media-card-thumb .thumb-center img {
	position:absolute;
	top:0;
	left:0;
	transform:translate(-50%,-50%)
}

.media-card-thumb img {
	opacity:1;
	transition:opacity 0.15s ease;
}

.media-card-thumb:hover img {
	opacity:0.75;
}

.media-card-info {
	@extend .list-reset;
	font-size:em(14px);
	margin-bottom:10px;
}

.media-card-info li {
	margin-bottom:4px;
}

.media-card-info span {
	color:$tertiary-text-color;
}

.media-card-actions {
	@extend .clearfix;
	border-top:1px solid $border-color;
	padding-top:10px;
}

.media-card-actions input {
	margin-bottom:0;
}

.media-card-checkbox {
	position:relative;
	top:2px;
}

.media-card-delete {
	text-decoration:none;
	font-size:em(14px);
	color:$secondary-text-color;
	&:hover {
		color:$primary-red;
	}
}

.data-actions-container {
	padding-bottom:20px;
}


.data-actions {
	display:flex;
	align-items:center;
}

.data-actions-bulk {
	flex:0 1 300px;
	display:flex;
	align-items:flex-start;
	margin-right:30px;
}

.data-actions-bulk .select {
	flex:0 1 200px;
	margin-bottom:0;
}

.data-actions-bulk button {
	margin-left:10px;
	flex:0 1 auto;
}

.data-actions-filters-toggle {
	flex:2 1 auto;
}

.data-actions-filters-trigger {
	text-decoration:none;
	position:relative;
	display:inline-block;
	margin-right:30px;
	white-space: nowrap;

}

.data-actions-filters-trigger.is-active:after {
	content:"";
	width:0;
	height:0;
	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid $primary-bg-color;
  	position:absolute;
  	bottom:-18px;
  	left:50%;
  	margin-left:-10px;
}

.data-actions-filters-label {
	display:none;
	@include breakpoint(medium) {
		display:inline;
	}
}

.data-actions-search {
	flex:0 1 250px;
}

.data-actions-search .search-input {
	margin-bottom:0;
}

.data-actions-filters {
	background:$primary-bg-color;
	padding:20px;
	display:none;
	margin-top:10px;
}

.data-actions-filters.is-active {
	display:block;
}

.data-actions-filters-clear {
	margin-left:20px;
	color:$primary-neutral-color;
	text-decoration:none;
	&:hover {
		text-decoration:underline;
		color:$primary-text-color;
	}
}

.data-actions-view {
	margin-right:30px;
	white-space: nowrap;
}

.data-actions-view a {
	text-decoration:none;
	display:inline-block;
	margin-left:10px;
	color:$primary-neutral-color;
}

.data-actions-view a:hover, 
.data-actions-view a.is-active {
	color:$secondary-color;
}

.logout-container {
	width:100%;
	max-width:460px;
	padding:20px;
}

.logout-logo {
	text-align:center;
	margin-bottom:30px;
}

.logout-box {
	background-color:#fff;
	box-shadow: 0px 1px 5px 0px rgba(#000, 0.1);
	padding:30px;
	margin-bottom:30px;
}
